version: '3.8'
services:
  vproxy-service-1:
    image: ahhhliu/vproxy-image:latest
    network_mode: "host"
    restart: always
    environment:
       - VPROXY_PORT=1888  
       - SUBNET=${SUBNET} 
    env_file:
      - .env 
    entrypoint: >
      ./vproxy run 
      --bind=127.0.0.1:1888
      -i ${SUBNET} 
      socks5
    healthcheck:
      test: ["CMD","/bin/bash","check_proxy.sh", "1888"]
      interval: 10s
      timeout: 5s
      start_period: 5s
      retries: 3

  vproxy-service-2:
    image: ahhhliu/vproxy-image:latest
    network_mode: "host"
    restart: always
    environment:
      - VPROXY_PORT=1889
      - SUBNET=${SUBNET}
    entrypoint: >
      ./vproxy run 
      --bind=127.0.0.1:1889
      -i ${SUBNET} 
      socks5
    healthcheck:
      test: ["CMD","/bin/bash", "check_proxy.sh", "1889"]
      interval: 10s
      timeout: 5s
      start_period: 5s
      retries: 3

  vproxy-service-3:
    image: ahhhliu/vproxy-image:latest
    network_mode: "host"
    restart: always
    environment:
      - VPROXY_PORT=1890
      - SUBNET=${SUBNET}
    entrypoint: >
      ./vproxy run 
      --bind=127.0.0.1:1890
      -i ${SUBNET} 
      socks5
    healthcheck:
      test: ["CMD","/bin/bash", "check_proxy.sh", "1890"]
      interval: 10s
      timeout: 5s
      start_period: 5s
      retries: 3

  gost:
    image: ginuerzh/gost:latest
    restart: always
    network_mode: "host"
    volumes:
      - ./gost.yaml:/etc/gost/gost.yaml:ro
    command: "-C /etc/gost/gost.yaml"
    depends_on:
      - vproxy-service-1
      - vproxy-service-2
      - vproxy-service-3

  autoheal:
    deploy:
      replicas: 1
    environment:
      AUTOHEAL_CONTAINER_LABEL: all 
    image: willfarrell/autoheal:latest
    network_mode: none
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
